<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Document</title>
	<link rel="shorcut icon" href="favicon.ico" />
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<style type="text/css">
	#log-in{
		-moz-user-select: none;
	    background: #2A49A5;
	    border: 1px solid #082783;
	    box-shadow: 0 1px #4C6BC7 inset;
	    color: white;
	    padding: 3px 5px;
	    text-decoration: none;
	    text-shadow: 0 -1px 0 #082783;
	    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		font-size: 11px;
		font-weight: bold;
	}
	body{
		background-color: #e9eaed;
	}
	</style>
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
		window.me = {};
	</script>
	<script type="text/javascript">
	function statusChangeCallback(response) {
	    console.log(response);
	    if (response.status === 'connected') {
	    	console.log('Welcome!  Fetching your information.... ');
		    FB.api('/me', function (res) {
		    	objResponse = {
		      		id = res.id;
		      		email = res.email;
		      		birthday = res.birthday;
		      		name = res.name; 
		       		token = response.authResponse.accessToken;
		      	}
		      FB.api('/me/picture', function (res){
		      	console.log(response);
		      	objResponse.picture = response.data.url;
		      	pulse.login(objResponse);
		      })
		    });
	    }
	  }
	function checkLoginState() {
		FB.getLoginStatus(function(response) {
      		statusChangeCallback(response);
	    });
	}
	function login(){
		$.post('/sing-in', {id: me.id},
		function (obj_user){
			$('fb:login-button').hide();
			$('#name').html(obj_user.name);
			$('#birthday').html(obj_user.birthday);
			$('#picture').attr('src',obj_user.picture);
			$('#email').html(obj_user.email);
			if(typeof(obj_user)!=="object"){
				$.post('/sing-up', me, function (data){
					console.log(data);
					login();
				});
			}else{
				getTimeline();
				$('#publish')
				.removeClass('hidden')
				.addClass('show')
				.on('submit', function (e){
					e.preventDefault();
					if($('#body').val().length <= 0){
						alert('Tu estado esta vacio');
					}else{
						$.post('/api/posts', $('#publish').serialize(),function (data){
							$.get('/api/posts/' + data._id, function (data){
								newPost(data);
								$('textarea[name^=body]').val('')
							})	
						});
					}
				});
			}
		});
	}
	 window.fbAsyncInit = function() {
	  FB.init({
	    appId      : '301863476666236',
	    cookie     : true,  // enable cookies to allow the server to access 
	                        // the session
	    xfbml      : true,  // parse social plugins on this page
	    version    : 'v2.1' // use version 2.1
	  });
	};
	(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
	
	</script>
</head>
<body>
	<div id="login-button">
	<fb:login-button scope="public_profile,email,user_birthday" onlogin="checkLoginState();">
	</fb:login-button>
	</div>
	<section class="container">
		<section class="col-xs-2">
			<div id="name"></div>
			<div id="birthday"></div>
			<img id="picture" />
			<div id="email"></div>
			<div id="token"></div>
		</section>
		<section class="col-xs-10">
			<section>
				<form id="publish" class="hidden">
					<textarea class="form-control" id="body" name="body"></textarea>
					<input type="hidden" name="position" value="-32.2793578,-58.07445" />
					<input class="btn btn-primary" type="submit" value="Pulsear" /> 
				</form>
			</section>
			<section id="timeline"></section>
		</section>
	</section>
</body>
<script>
	function rmPost(obj){
		var id = $(obj).data('puls-id');
		$.ajax({
			url: '/api/posts/' + id,
			type: 'DELETE'
		}).done(function (e){
			if (e==1) {
				$('#' + id).remove();
			};
		})
		//
	}
	function newPost(data){
		var article = $('<div>')
		.addClass('bg-primary')
		.attr('id',data._id)
		.css({ 'margin-top': '10px' });
		var colOne = $('<div>').addClass('col-xs-1');
		var colTwo = $('<div>').addClass('col-xs-11');
		var image = $('<img>').attr('src', data.user_id.picture);
		var userID = $("<div>").html('<strong>' + data.user_id.name + '</strong><button type="button" class="close" onclick="rmPost(this)"  data-puls-id="' + data._id + '"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>');
		var content = $('<div>').html(data.body);
		var date = $('<div>').html('<small>' + 
			new Date(data.date).toString() + ' | ' + data.position +
			'</small>');
		colOne.append(image);
		colTwo.append(userID)
		.append(content)
		.append(date);
		article.append(colOne).append(colTwo);
		$('#timeline').append(article.append($('<div class="clearfix"></div>')));
	}
	function getTimeline(){
		$.get('/api/posts',function (data){
			for(i in data){
				newPost(data[i]);
			}
		});
	}
</script>
</html>