<!doctype html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<title>Document</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script>
		window.me = {
		  "id": "100000733623491",
		  "name": "Luis Neighbur",
		  "birthday": "10/15/1990",
		  "email": "shaggi666@hotmail.com",
		  "picture": "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/10629851_823324861035294_1119847225285809619_n.jpg?oh=ec789ec84e547c4ce1eb66c0cbab4553&oe=5498954D&__gda__=1418993531_2ec106ce502bd84302dc3c20e733fb3d",
		  "token": "CAAU08uZA6AgABAMs4J8qFP7A91rcXmTXeOsSgaiw2ed2PMyG4Owk7FruVRNLTpUvgVUNm9dept5re6ezgs0EBwktIDImMh4DNfbkZBbJunxJ3i7BE828dQkwx1e3S9i2enBX1CLfMJrwbozmS3wcC2LZAhBBtCZAV9blqzxheKe5dmnq8GBXFgn4uwDE5bOTYxQRkymctfqJy4je7ISC"
		};
	</script>
	
</head>
<body>
	<section class="container">
		<section class="col-xs-2">
			<div id="name"></div>
			<div id="birthday"></div>
			<img id="picture" />
			<div id="email"></div>
			<div id="token"></div>
		</section>
		<section class="col-xs-10" id="timeline">
			<article>
				<div class="col-xs-1">
					<img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xap1/v/t1.0-1/p50x50/10629851_823324861035294_1119847225285809619_n.jpg?oh=ec789ec84e547c4ce1eb66c0cbab4553&oe=5498954D&__gda__=1418993531_2ec106ce502bd84302dc3c20e733fb3d" />
				</div>
				<div class="col-xs-11">
					<div>Luis Neighbur</div>
					<div>Hola mundo desde Pulso</div>
					<div><small>21:56:03 GMT-0300 (UYT)</small></div>
					<div>-32.2793578,-58.07445</div>
				</div>
			</article>
		</section>
	</section>
</body>
</html>